/* --- General Styling --- */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}


/* Overall Navbar Styles */
.navbar-light  {
    background-color: #005493;
    color: #fff;
}

.navbar-light .navbar-brand {
    color: #fff !important;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #e9d8a6;
}








/* Main Styling */

.button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;

    font-weight: 600;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}


.button:hover {
    background-color: #0056b3;
}

.button:focus {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}


.hero {
    background-image: url('../images/RIVERSIDE.png');
    background-size: cover;
    background-position: center;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 500px;
    margin-bottom: 50px;
}

#img-temp {

    height: auto;
    object-fit: cover;
}

.hero-content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 15px;
}

h1 {
    color: #F7F3E8;
    background-color: rgba(0, 0, 0, 0.5);
}


#member-spotlight {
    background-color: #f0f0f0;
}

#member-h2 {
    color: #0056b3;
    font-size: 40px;
}


#events {
    background-color: #f5f7ff;
}



.weather {
    background-color: #e2f2e5;
}



#weather-celsius {
     color: #000000;
    font-size: 40px;
}



.footer {
    font-size: 0.9rem;
    color: #666;
}

.footer a {
    color: #333;
}






/* --- Media Queries for Responsiveness --- */
@media (max-width: 768px) {

    .row {
        flex-direction: column;
    }

    .col-md-6 {
        flex: 0 0 100%;
    }

    .main-navigation ul {
        display: none;
    }

    .main-navigation.open ul {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
    }


    .menu-toggle {
        display: block;
    }

}


