
body {
    color: #333;
}


nav a {
    color: #fff;

}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    nav ul {
        flex-direction: row;
    }

}
